body {
	background-color: #000000;
	color: #BBBBBB;
	font-family: trebuchet, arial, san serif;
}
#container {
	padding: 0 10 10 10;
	margin: 0 auto 0 auto;
	width: 960px;
	text-align: left;
	background-color: #111111;
}
